<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Transformed Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Archivos transformados</h1>
        <a href="{{ url_for('static', filename='uploads/Precios-casino-transformado.xlsx') }}" download="Precios-casino-transformado.xlsx">Descargar Excel Transformado</a>
        <a href="{{ url_for('static', filename='uploads/Precios-casino-transformado.txt') }}" download="Precios-casino-transformado.txt">Descargar Texto Delimitado por Tabulaciones</a>
    </div>
</body>
</html>
